<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sweet Icing Cookies</title>
    <link rel="stylesheet" href="~/css/about.css"/>
</head>
<body>
    <partial name="Navbarpartial"/>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">About Us</h1>
                <p class="text-center" id="description">At Sweet Icing Cookies, we strive for perfection with our delicious selection of cookies made from organic ingredients. Each cookie is carefully crafted from scratch and made fresh daily to ensure upmost quality. Specializing in decorative sugar cookies, our aesthetic approach is chic, elegant, and joyful. Whether it is your special day, you're looking for a cute gift idea, or simply having a craving for cookies, Sweet Icing Cookies is here to bring a smile to everyone's face. Stop by our store located across from UC Irvine and try one of our delectable cookies today!</p>
                <img id="baking" src="~/img/baking.jpg" alt="baking">
            </div>
            <div class="col">
            <img id="bakery" src="~/img/Bakery.png" alt="bakery">
            </div>
        </div>
    </div>
    <br>

</body>
</html>