@model List<Item>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sweet Icing Cookies</title>
    <link rel="stylesheet" href="~/css/cart.css">
</head>
<body>
    <partial name="Navbarpartial"/>
    <br>
    <h1 class="text-center">Cart</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price/Item</th>
                <th scope="col">Cost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
            <tr>
                <td scope="row">@product.Name</td>
                <td>@product.Quantity</td>
                <td>$@product.Price</td>
                <td>$@product.TotalCost</td>
            </tr>
            }
        </tbody>
        </table>
        <p class="text-right">SubTotal: $@ViewBag.SubTotal</p>
        <a class="btn" href="/payment" role="button">Continue with Payment</a>
        <br>
        <br>
</body>
</html>