<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sweet Icing Cookies</title>
    <link rel="stylesheet" href="~/css/catering.css">
</head>
<body>
    <partial name="Navbarpartial"/>
    <br>
    <br>
    <div class="text-center" id="container">
        <h1 class="text-center">Special Events</h1>
        <p id="description" class="text-center">Here at Sweet Icing Cookies, we specilize in creating custom decorative sugar cookies. Our cookies are a blank canvas. Let your imagination run wild and we will help you deliver the perfect cookies for your special event! Call us to schedule an appointment to discuss design options and pricing with our founder, Michelle Yu. We will first discuss your vision, draft your design, and schedule a follow-up visit to see a sample of your custom cookies. We will not stop working until you are 100% satisifed with our product.</p>
    </div>
    <img id="cookiebar" src="~/img/CookieBar.jpg" alt="cookiebar">
    <img id="bridalshower" src="~/img/BridalShower.jpg" alt="bridalshower">
    <img id="rusticwedding" src="~/img/RusticWedding.jpg" alt="rusticwedding">
    <img id="hearts" src="~/img/hearts.jpg" alt="hearts">
    <img id="babyshower" src="~/img/babyshower.jpg" alt="babyshower">
    <img id="birthday" src="~/img/birthday.jpg" alt="birthday">
    <img id="bridal" src="~/img/bridal.jpg" alt="bridal">
    <img id="RoseHearts" src="~/img/RoseHearts.jpg" alt="RoseHearts">
</body>
</html>