<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sweet Icing Cookies</title>
    <link rel="stylesheet" href="~/css/style.css"/>
<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
    <partial name="Navbarpartial"/>
    <br>
    <br>
    <br>
    <div>
        <img id="sugarcookie" src="~/img/SugarCookie.jpg" alt="SugarCookie">
        <img id="decorative" src="~/img/Decorative.png" alt="Decorative">
    </div>
    <div>
        <img id="chocolate" src="~/img/chocolate.jpg" alt="chocolate">
        <img id="traditional" src="~/img/Traditional.png" alt="traditional">
    </div>
    <div>
        <img id="wedding" src="~/img/Wedding.jpg" alt="Wedding">
        <img id="events" src="~/img/Events.png" alt="Events">
    </div>
    <br>
    <br>
    <div>
        <div class="row" id="PackagingContainer">
            <div class="col-md-9 text-center">
                <br>
                <h2 class="text-center">Beautiful Packaging Options</h2>
                <p id="text">Need to hand out gifts? Choose from our various packaging options to give out our delicious cookies to your loved ones. Nothing says "I Love You" more than a box of cookies packaged into a simple yet chic presentation!</p>
            </div>
            <div class="col">
            <img id="packaging" src="~/img/packaging.jpg" alt="Packaging">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div>
        <div class="row" id="order">
            <div class="col-md-8 text-center">
                <br>
                <h2 class="text-center">Order Online</h2>
                <p id="text1">Shop our delicious cookies for pick-up or delivery within a 20 mile radius. Located conveniently next to UC Irvine at the University Town Center. Order today and have a fresh batch of cookies delivered to your door!</p>
            </div>
            <div class="col">
            <img id="computer" src="~/img/Computer.jpg" alt="Computer">
            </div>
        </div>
    </div>
    <br>
    <div>
        <div class="row" id="">
            <div class="col-md-4 text-center">
                <br>
                <img id="thanks" src="~/img/ThankYou.jpg" alt="Thanks">
            </div>
            <div class="col-md-8">
                <br>
                <br>
                <h2 class="text-center">Sweet Affirmations</h2>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="8000">
                    <div class="carousel-inner">
                        <div class="carousel-item active text-center">
                            <p class="reviews">"I really wanted to set up a rustic-style cookie bar for my outdoor barn-yard wedding. Sweet Icing Cookies did an amazing job creating customized cookies that fit our wedding theme: mason jars, circular tree barks with our names written on them, lilac wreaths, they even made a sugar cookie that looked like our wedding cake! They were fast with their responses, listened to our vision, and executed everything perfectly!"
                            </p>
                            <p class="reviews">- Alice, a grateful Bride</p>
                        </div>
                        <div class="carousel-item text-center">
                            <p class="reviews">"I love Sweet Icing Cookies! Having a sweet tooth, I always crave warm cookies for dessert, especially during my late-night study sessions. It's so convenient for them to be open late at night and delivery me fresh cookies during the school week! Couldn't have gone through finals without them!"</p>
                            <p class="reviews">- Erin, UC Irvine Student</p>
                        </div>
                        <div class="carousel-item text-center">
                            <p class="reviews">"I love buying Sweet Icing Cookies as gifts for my family and friends! Not only are the cookies delicious, they are so cutely packaged. I like to buy either their indiviual Thank You Bags or have the cookies packaged in their tin boxes. I really love purchasing their seasonal cookies to hand out to my coworkers for Christmas."</p>
                            <p class="reviews">- Jackie</p>
                        </div>
                    </div>
                </div>
                <h5 class="text-center">Follow Us</h5>
                <ul>
                    <li>
                        <img class="iconphoto" id="facebook" src="~/img/facebook1.png" alt="facebook">
                    </li>
                    <li>
                        <img class="iconphoto" id="instagram" src="~/img/instagram.png" alt="instagram">
                    </li>
                    <li>
                        <img class="iconphoto" id="pinterest" src="~/img/pinterest.png" alt="pinterest">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
