<link rel="stylesheet" href="~/css/style.css"/>
<a href="/"><img id=logo src="~/img/CookieLogo2.png" alt="logo"></a>
<br>
    <nav class="nav nav-fill">
        <a id="about" class="nav-item nav-link" href="/about">About Us</a>
        <a class="dropdown-toggle cookies" href="#" role="button" id="OurCookies" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Our Cookies
        </a>
        <div class="dropdown-menu cookies" aria-labelledby="navbarDropdown">
            <a class="dropdown-item cookies sugar" href="/sugar">Sugar Cookies</a>
            <a class="dropdown-item cookies sugar" href="/traditional">Traditional Cookies</a>
        </div>
        <a id="package" class="nav-item nav-link " href="/packaging">Packaging Options</a>
        <a id="catering" class="nav-item nav-link " href="/catering">Catering</a>
        <a id="contact" class="nav-item nav-link" href="/contact">Contact Us</a>
    </nav>