<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sweet Icing Cookies</title>
    <link rel="stylesheet" href="~/css/sugar.css">
</head>
<body>
    <partial name="Navbarpartial"/>
    <br>
    <a id="cart" class="nav-item nav-link" href="/cart">View Your Cart</a>
    <br>
    <br>
    <h1 class="text-center">Decorative Sugar Cookies</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col text-center">
            <h6 class="text-center">Summer Popsicle Cookies</h6>
            <a href="/popsicle"><img src="~/img/SugarCookie.jpg" alt="popsicle cookies"></a>
            </div>
            <div class="col text-center">
            <h6 class="text-center">Panda Bear Cookies</h6>
            <a href="/panda"><img id="panda" src="~/img/Panda.jpg" alt="panda cookies"></a>
            </div>
            <div class="col text-center">
            <h6 class="text-center">Donut Cookies</h6>
            <a href="/donut"><img id="donut" src="~/img/Donut.jpg" alt="donut cookies"></a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col text-center">
            <h6 class="text-center">Heart Cookies</h6>
            <a href="/heart"><img id="hearts" src="~/img/Hearts1.jpg" alt="heart cookies"></a>
            </div>
            <div class="col text-center">
            <h6 class="text-center">Llama & Cactus Cookies</h6>
            <a href="/llama"><img id="llama" src="~/img/Llama.jpg" alt="llama cookies"></a>
            </div>
            <div class="col text-center">
            <h6 class="text-center">Unicorn Cookies</h6>
            <a href="/unicorn"><img id="unicorn" src="~/img/Unicorn.jpg" alt="unicorn cookies"></a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col text-center">
            <h6 class="text-center">Elephant Cookies</h6>
            <a href="/elephant"><img id="elephant" class="LastRow" src="~/img/Elephants.jpg" alt="elephant cookies"></a>
            </div>
            <div class="col text-center">
            <h6 class="text-center">Champagne Celebration Cookies</h6>
            <a href="/champagne"><img class="LastRow" src="~/img/Champagne.jpg" alt="champagne cookies"></a>
            </div>
            <div class="col text-center">
            <h6 class="text-center">Marble Cookies</h6>
            <a href="/marble"><img class="LastRow" src="~/img/Marble.jpg" alt="marble cookies"></a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>