<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sweet Icing Cookies</title>
    <link rel="stylesheet" href="~/css/traditional.css">
</head>
<body>
    <partial name="Navbarpartial"/>
    <br>
    <a id="cart" class="nav-item nav-link" href="/cart">View Your Cart</a>
    <br>
    <h1 class="text-center">Traditional Cookies</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col text-center">
            <h6 class="text-center">Chocolate Chip Cookies</h6>
            <a href="/chocolate"><img src="~/img/chocolate.jpg" alt="chocolate cookies"></a>
            </div>
            <div class="col text-center">
            <h6 class="text-center">Earl Gray Lavendar Cookies</h6>
            <a href="/lavendar"><img id="lavendar" src="~/img/Lavendar.jpg" alt="lavendar cookies"></a>
            </div>
            <div class="col text-center">
            <h6 class="text-center">Peanut Butter Oatmeal Cookies</h6>
            <a href="/oatmeal"><img id="oatmeal" src="~/img/oatmeal.jpeg" alt="oatmeal cookies"></a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col text-center">
            <h6 class="text-center">Blueberry Jam Cookies</h6>
            <a href="/blueberry"><img id="blueberry" src="~/img/BlueberryJam.jpg" alt="blueberry cookies"></a>
            </div>
            <div class="col text-center">
            <h6 class="text-center">Peanut Butter Cookies</h6>
            <a href="/peanut"><img id="peanut" src="~/img/PeanutButter.jpg" alt="peanut butter cookies"></a>
            </div>
            <div class="col text-center">
            <h6 class="text-center">Pistachio Cookies</h6>
            <a href="/pistachio"><img id="pistachio" src="~/img/Pistachio.jpg" alt="pistachio cookies"></a>
            </div>
        </div>
        <br>
    </div>
    <br>
</body>
</html>