h1,
th {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #90D1BC;
}

.text {
    color: #F06E97;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

td {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #BABABD;
}

#box {
    font-family: 'Quicksand', sans-serif;
    color: #BABABD;
    font-style: italic;
    border: none;
}

#label {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #F06E97;
}

#button {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: rgb(128, 128, 128);
    background-color: #FBE0E7;
}