h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #90D1BC;
}

#clear {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #9DCEE5;
    margin-left: 41%;
}

#text1 {
    color: #9DCEE5;
}